*{
 padding: 0 ;
 margin:  0; 
} 
body{
    /* padding-top: 10px; */ 
} 

.salutaion{
    width: 100%; 
    text-align: center;
}

.salutaion p {
    
    position: absolute;
    border: 0.5px solid sienna;
    font-family: 'Courier New', Courier, monospace ;
    font-size: x-large ;  
    top: 40%;
    left: 65%;
}

.jumbotron h3 {
    font-weight: bold;
 color: #3173c1;
} 

.normal-img  {
    margin-top:25px;
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 12px;
    color: darkslategray;
}

.designathon    {
    width: 100%;
    max-height: 100vh;
    margin: auto;
}